.page-title {
    width: 100%;
    height: 80vh !important;
    min-height: 80vh !important;
}

.tp-showcase-slider-bg {
    position: relative;
}

.tp-showcase-slider-bg::after,
.page-title--slider .page-title--image-overlay::after {
    display: none !important;
    content: none !important;
    background: transparent !important;
}

.text-justify{ text-align:justify; }

h2, .h2 {
    font-size: 30px;
}

.swiper-card-4 .card-box-style-8 .image {
    height: 300px;width: 100%;
}

.swiper-card-4 .card-box-style-8 .card--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .page-title {
        height: 70vh !important;
        min-height: 70vh !important;
    }

    .tp-showcase-slider-bg {
        background-position: center;
        background-size: cover;
    }
}
